*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}

.container{
    width: 100%;
    height: 100vh;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.music-player{
    background: #e0c5c5;
    width: 400px;
    padding: 25px 35px;
    text-align: center;;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

nav .circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #ffffff;
    color: #0c0404;
    box-shadow: 0 5px 10px rgba(207, 38, 38, 0.55);
}

.song-img{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 8px solid rgb(255, 255, 255);
    box-shadow: 0 5px 10px rgba(105, 11, 11, 0.55);
    filter: blur(0.8px);

}

.music-player h1{
    font-size: 25px;
    color: #333;
    margin: 20px 0 10px;
    font-weight: 500;
}
.music-player p{
    font-size: 14px;
    color: #333;
    margin-bottom: 30px;
}

#progress{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background-color: #9b4e4e;
    border-radius: 5px;
    cursor: pointer;
    margin: 40px 0;
    
}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    border-radius: 50%;
    background: #a12828;
    width: 30px;
    height: 30px;
    border: 9px solid #fff;
    box-shadow: 0 5px 10px rgba(105, 11, 11, 0.55);
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls div{
    width: 60px;
    height: 60px;
    margin: 20px;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(105, 11, 11, 0.55);
    color: #a12828;
    cursor: pointer;

}

.controls div:nth-child(2){
    transform: scale(1.4);
    background: #a12828;
    color: white;
}