*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #c1dbf5;
}

.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #6a97ca, #130955);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 15px;
    padding: 40px 35px;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 40px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img{
    width: 24px;
}

.weather-icon{
    width: 100px;
    margin: 30px 0;
}

.weather h1{
    font-size: 64px;
    font-weight: 700;
}
.weather h2{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;

}

.col img {
    width: 40px;
    margin-right: 10px;
}

.weather{
    display: none;
}

.error{
    
    color: #ff4c4c;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    display: none;

}